step-functions/bearer-token-retrieval.asl.json
{
  "Comment": "Retrieves HMRC Bearer Token and Expiry",
  "StartAt": "Fetch Bearer Token",
  "States": {
    "Fetch Bearer Token": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload": {
          "secretName.$": "States.Format('HMRC/BearerToken/{}', $.tokenType)"
        },
        "FunctionName": "${SecretsManagerHandlerFunctionArn}"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Token and Expiry",
      "ResultSelector": {
        "secret.$": "States.StringToJson($.Payload.value)"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Generate Fail Response"
        }
      ]
    },
    "Generate Fail Response": {
      "Type": "Pass",
      "Parameters": {
        "httpStatus": 400
      },
      "End": true
    },
    "Token and Expiry": {
      "Type": "Pass",
      "Parameters": {
        "body": {
          "token.$": "$.secret.token",
          "expiry.$": "$.secret.tokenExpiry"
        }
      },
      "Next": "Generate Response"
    },
    "Generate Response": {
      "Type": "Pass",
      "Next": "Success",
      "Parameters": {
        "httpStatus": 200,
        "body.$": "States.JsonToString($.body)"
      }
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
