step-functions/oauth-token-generator.asl.json
{
  "Comment": "HMRC OAuth Token Generator StateMachine",
  "StartAt": "Fetch HMRC Client Id",
  "States": {
    "Fetch HMRC Client Id": {
      "Type": "Task",
      "Next": "Fetch TOTP Secret",
      "Parameters": {
        "SecretId": "${ClientId}"
      },
      "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
      "ResultPath": "$.clientId"
    },
    "Fetch TOTP Secret": {
      "Type": "Task",
      "Next": "Fetch HMRC Client Secret",
      "Parameters": {
        "SecretId": "${TotpSecretName}"
      },
      "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
      "ResultPath": "$.totpSecret"
    },
    "Fetch HMRC Client Secret": {
      "Type": "Task",
      "Next": "Generate TOTP Code",
      "Parameters": {
        "SecretId": "${ClientSecretName}"
      },
      "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
      "ResultPath": "$.clientSecret"
    },
    "Generate TOTP Code": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${TotpGeneratorFunctionArn}",
        "Payload": {
          "SecretString.$": "$.totpSecret.SecretString"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Fetch HMRC OAuth URL",
      "ResultPath": "$.totpCode",
      "ResultSelector": {
        "value.$": "$.Payload.totp"
      }
    },
    "Fetch HMRC OAuth URL": {
      "Type": "Task",
      "Next": "Invoke HMRC OAuth Token API",
      "Parameters": {
        "Name": "${OAuthUrlParameter}"
      },
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "ResultSelector": {
        "value.$": "$.Parameter.Value"
      },
      "ResultPath": "$.oAuthURL"
    },
    "Invoke HMRC OAuth Token API": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$",
      "Parameters": {
        "FunctionName": "${BearerTokenFunctionArn}",
        "Payload": {
          "totp.$": "$.totpCode.value",
          "clientSecret": {
            "value.$": "$.clientSecret.SecretString"
          },
          "clientId": {
            "value.$": "$.clientId.SecretString"
          },
          "oAuthURL": {
            "value.$": "$.oAuthURL.value"
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3
        }
      ],
      "Next": "Store Bearer Token"
    },
    "Store Bearer Token": {
      "Type": "Task",
      "Parameters": {
        "SecretId": "${BearerTokenName}",
        "SecretString.$": "$.Payload"
      },
      "Resource": "arn:aws:states:::aws-sdk:secretsmanager:putSecretValue",
      "Next": "Success",
      "ResultSelector": {}
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
