step-functions/oauth-token-generator.asl.json
{
  "Comment": "HMRC OAuth Token Generator StateMachine",
  "StartAt": "Fetch TOTP Secret",
  "States": {
    "Fetch TOTP Secret": {
      "Type": "Task",
      "Next": "Get StackName",
      "Parameters": {
        "SecretId.$": "States.Format('HMRC/TOTPSecret/{}', $.tokenType)"
      },
      "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
      "ResultPath": "$.totpSecret"
    },
    "Get StackName": {
      "Type": "Pass",
      "Parameters": {
        "value": "${StackName}"
      },
      "Next": "Generate TOTP Code",
      "ResultPath": "$.StackName"
    },
    "Generate TOTP Code": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${TotpGeneratorFunctionArn}",
        "Payload": {
          "SecretString.$": "$.totpSecret.SecretString"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Fetch HMRC Client Id",
      "ResultSelector": {
        "value.$": "$.Payload.totp"
      },
      "ResultPath": "$.totpCode"
    },
    "Fetch HMRC Client Id": {
      "Type": "Task",
      "Next": "Fetch HMRC Client Secret",
      "Parameters": {
        "SecretId.$": "States.Format('HMRC/ClientId/{}', $.tokenType)"
      },
      "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
      "ResultPath": "$.clientId"
    },
    "Fetch HMRC Client Secret": {
      "Type": "Task",
      "Next": "Fetch HMRC OAuth URL",
      "Parameters": {
        "SecretId.$": "States.Format('HMRC/ClientSecret/{}', $.tokenType)"
      },
      "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
      "ResultPath": "$.clientSecret"
    },
    "Fetch HMRC OAuth URL": {
      "Type": "Task",
      "Next": "Invoke HMRC OAuth Token API",
      "Parameters": {
        "Name.$": "States.Format('/{}/HMRC/OAuthURL/{}', $.StackName.value, $.tokenType)"
      },
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "ResultSelector": {
        "value.$": "$.Parameter.Value"
      },
      "ResultPath": "$.oAuthURL"
    },
    "Invoke HMRC OAuth Token API": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${BearerTokenFunctionArn}",
        "Payload": {
          "totp.$": "$.totpCode.value",
          "clientSecret": {
            "value.$": "$.clientSecret.SecretString"
          },
          "clientId": {
            "value.$": "$.clientId.SecretString"
          },
          "oAuthURL": {
            "value.$": "$.oAuthURL.value"
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3
        }
      ],
      "Next": "Store Bearer Token",
      "ResultPath": "$.response"
    },
    "Store Bearer Token": {
      "Type": "Task",
      "Parameters": {
        "SecretId.$": "States.Format('HMRC/BearerToken/{}', $.tokenType)",
        "SecretString.$": "$.response.Payload"
      },
      "Resource": "arn:aws:states:::aws-sdk:secretsmanager:putSecretValue",
      "Next": "Update Scheduler Time",
      "ResultPath": "$.store"
    },
    "Update Scheduler Time": {
      "Type": "Task",
      "Next": "Success",
      "Parameters": {
        "FlexibleTimeWindow": {
          "Mode": "OFF"
        },
        "Name.$": "States.Format('{}-{}', $.StackName.value, $.tokenType)",
        "ScheduleExpression.$": "States.Format('rate({} minutes)', $.response.Payload.tokenExpiryInMinutes)",
        "Target": {
          "Arn.$": "$$.StateMachine.Id",
          "Input.$": "$$.Execution.Input",
          "RetryPolicy": {
            "MaximumEventAgeInSeconds": 86400,
            "MaximumRetryAttempts": 185
          },
          "RoleArn": "${RefreshSchedulerRole}"
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:scheduler:updateSchedule",
      "ResultSelector": {}
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
